# IDEA文件
.idea
*.iml
**/target/
**/.settings/
**/.classpath
**/.project
**/.svn
**/.metadata/
RemoteSystemsTempFiles/
**/bin/
**/*.iml
build/
**/build/
**/*.bak
**/.gradle/
**/.idea/
out/
.idea/
.git/
logs/
logFilePath_IS_UNDEFINED/
.factorypath
/.factorypath
target
src/main/resources/static/

protocol-test-system-1.0-SNAPSHOT.jar
